body.dark {
  --bg-color: #1c242d;
  --bg-secondary-color: #242f39;
  --font-color: #f8f9fa;
  --color-grey: #6c757d;
  --color-darkGrey: #343a40;
}

#app {
  height: 100vh;
  text-align: center;
}

.faction-icon {
  width: 20px;
  height: 20px;
  margin-right: 2px;
}
