/* Define var --color-errorContrast */
:root {
  /* --color-error: #d43939; */
  --color-errorShade: #7f2222;
  --color-errorTint: #e07474;
}

body.dark {
  --bg-color: #252525;
  --bg-secondary-color: #33322e;
  --font-color: #f8f9fa;
  --color-grey: #6c757d;
  --color-darkGrey: #343a40;
  --border-color: #252525;
}

.faction-icon {
  width: 20px;
  height: 20px;
  margin-right: 2px;
}

.card,
table {
  margin-top: var(--grid-gutter);
}
